<div class="input-prepend input-append bulk-action-container">
    <span class="add-on">
        <span>{{ 'actions'|trans({}, 'datatable') }}:</span>
    </span>
    <select id="bulk-action-select-{{ alias }}" name="bulk-action-select-{{ alias }}">
        <option value=""></option>
        {% for key, action in datatable.bulkActions %}
            <option value="{{ path(action.route, action.params) }}">{{ action.description|trans }}</option>
        {% endfor %}
    </select>
    <button type="button" class="btn" id="bulk-apply-button-{{ alias }}">{{ 'apply'|trans({}, 'datatable') }}</button>
</div>