<table cellpadding="0" cellspacing="0" border="0" class="nt_datatables_table" id="datatables_table_{{ alias }}">
{% if datatable.bulkActions %}
<form>
<div class="bulk_container">
    {{ 'actions'|trans({}, 'datatable') }}:
    <select id="bulk-action-select-{{ alias }}" name="bulk-action-select-{{ alias }}">
        <option value=""></option>
        {% for key, action in datatable.bulkActions %}
            <option value="{{ path(action.route, action.params) }}">{{ action.description|trans }}</option>
        {% endfor %}
    </select>
     <button type="button" id="bulk-apply-button-{{ alias }}">{{ 'apply'|trans({}, 'datatable') }}</button>
</div>
{% endif %}
    <thead>
        <tr>
            {% if datatable.bulkActions %}
                <th>
                    {% include "NetTeamDataTableBundle:BulkAction:" ~ datatable.bulkActionsColumn.getHeaderTemplate ~ ".html.twig" with { 'column' : datatable.bulkActionsColumn, 'alias' : alias }%}
                </th>
            {% endif %}
            {% for column in datatable.columns %}
            <th>{{ column.caption|trans }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
    </tbody>
    </table>
{% if datatable.bulkActions %}
</form>
{% endif %}
<script type="text/javascript" charset="utf-8">
{% include "NetTeamDataTableBundle::datatable.js.twig" %}
</script>